<aside class="left">
      <h2>Shop by Category:</h2>
      <ul>
        
        <li><a href="{% if section.settings.left-sidebar-text-1 %}http://{{ section.settings.left-sidebar-link-1 | escape }}{%endif%}" target="_blank"> {{ section.settings.left-sidebar-text-1 | escape }} </a></li>
        <li><a href="{% if section.settings.left-sidebar-text-2 %}http://{{ section.settings.left-sidebar-link-2 | escape }}{%endif%}" target="_blank"> {{ section.settings.left-sidebar-text-2 | escape }} </a></li>
        <li><a href="{% if section.settings.left-sidebar-text-3 %}http://{{ section.settings.left-sidebar-link-3 | escape }}{%endif%}" target="_blank"> {{ section.settings.left-sidebar-text-3 | escape }} </a></li>
        <li><a href="{% if section.settings.left-sidebar-text-4 %}http://{{ section.settings.left-sidebar-link-4 | escape }}{%endif%}" target="_blank"> {{ section.settings.left-sidebar-text-4 | escape }} </a></li>
        <li><a href="{% if section.settings.left-sidebar-text-5 %}http://{{ section.settings.left-sidebar-link-5 | escape }}{%endif%}" target="_blank"> {{ section.settings.left-sidebar-text-5 | escape }} </a></li>
        <li><a href="{% if section.settings.left-sidebar-text-6 %}http://{{ section.settings.left-sidebar-link-6 | escape }}{%endif%}" target="_blank"> {{ section.settings.left-sidebar-text-6 | escape }} </a></li>
       <li><a href="{% if section.settings.left-sidebar-text-7 %}http://{{ section.settings.left-sidebar-link-7 | escape }}{%endif%}" target="_blank"> {{ section.settings.left-sidebar-text-7 | escape }} </a></li>
        <li><a href="{% if section.settings.left-sidebar-text-8 %}http://{{ section.settings.left-sidebar-link-8 | escape }}{%endif%}" target="_blank"> {{ section.settings.left-sidebar-text-8 | escape }} </a></li>
       <li><a href="{% if section.settings.left-sidebar-text-9 %}http://{{ section.settings.left-sidebar-link-9 | escape }}{%endif%}" target="_blank"> {{ section.settings.left-sidebar-text-9 | escape }} </a></li>
       <li><a href="{% if section.settings.left-sidebar-text-10 %}http://{{ section.settings.left-sidebar-link-10 | escape }}{%endif%}" target="_blank"> {{ section.settings.left-sidebar-text-10 | escape }} </a></li>
       <li><a href="{% if section.settings.left-sidebar-text-11 %}http://{{ section.settings.left-sidebar-link-11 | escape }}{%endif%}" target="_blank"> {{ section.settings.left-sidebar-text-11 | escape }} </a></li>
       <li><a href="{% if section.settings.left-sidebar-text-12 %}http://{{ section.settings.left-sidebar-link-12 | escape }}{%endif%}" target="_blank"> {{ section.settings.left-sidebar-text-12 | escape }} </a></li>
        <li><a href="{% if section.settings.left-sidebar-text-11 %}http://{{ section.settings.left-sidebar-link-12 | escape }}{%endif%}" target="_blank"> {{ section.settings.left-sidebar-text-12 | escape }} </a></li>
         <li><a href="{% if section.settings.left-sidebar-text-12 %}http://{{ section.settings.left-sidebar-link-12 | escape }}{%endif%}" target="_blank"> {{ section.settings.left-sidebar-text-12 | escape }} </a></li>
       <li><a href="{% if section.settings.left-sidebar-text-13 %}http://{{ section.settings.left-sidebar-link-13 | escape }}{%endif%}" target="_blank"> {{ section.settings.left-sidebar-text-13 | escape }} </a></li>
       <li><a href="{% if section.settings.left-sidebar-text-14 %}http://{{ section.settings.left-sidebar-link-14 | escape }}{%endif%}" target="_blank"> {{ section.settings.left-sidebar-text-14 | escape }} </a></li>
       <li><a href="{% if section.settings.left-sidebar-text-15 %}http://{{ section.settings.left-sidebar-link-15 | escape }}{%endif%}" target="_blank"> {{ section.settings.left-sidebar-text-15 | escape }} </a></li>
       <li><a href="{% if section.settings.left-sidebar-text-16 %}http://{{ section.settings.left-sidebar-link-16 | escape }}{%endif%}" target="_blank"> {{ section.settings.left-sidebar-text-16 | escape }} </a></li>
        <li><a href="{% if section.settings.left-sidebar-text-17 %}http://{{ section.settings.left-sidebar-link-17 | escape }}{%endif%}" target="_blank"> {{ section.settings.left-sidebar-text-17 | escape }} </a></li>
     <li><a href="{% if section.settings.left-sidebar-text-18 %}http://{{ section.settings.left-sidebar-link-18 | escape }}{%endif%}" target="_blank"> {{ section.settings.left-sidebar-text-18 | escape }} </a></li>
      </ul>

</aside>



{% schema %}
  {
    "name": "LeftBar",
    "settings": [
      
      {
        "type": "text",
        "id": "left-sidebar-text-1",
        "label": "Text 1",
        "default": "Welcome!"
      },


      {
        "type": "text",
        "id": "left-sidebar-link-1",
        "label": "Link 1",
        "default": "camphigh.com"
      },

        {
        "type": "text",
        "id": "left-sidebar-text-2",
        "label": "Heading",
        "default": "Welcome!"
      },

       {
        "type": "text",
        "id": "left-sidebar-link-2",
        "label": "Link 2",
        "default": "camphigh.com"
      },


        {
        "type": "text",
        "id": "left-sidebar-text-3",
        "label": "Heading",
        "default": "Welcome!"
      },

       {
        "type": "text",
        "id": "left-sidebar-link-3",
        "label": "Link 3",
        "default": "camphigh.com"
      },

        {
        "type": "text",
        "id": "left-sidebar-text-4",
        "label": "Heading",
        "default": "Welcome!"
      },

       {
        "type": "text",
        "id": "left-sidebar-link-4",
        "label": "Link 4",
        "default": "camphigh.com"
      },


         {
        "type": "text",
        "id": "left-sidebar-text-5",
        "label": "Heading",
        "default": "Welcome!"
      },

       {
        "type": "text",
        "id": "left-sidebar-link-5",
        "label": "Link 5",
        "default": "camphigh.com"
      },

         {
        "type": "text",
        "id": "left-sidebar-text-6",
        "label": "Heading",
        "default": "Welcome!"
      },

       {
        "type": "text",
        "id": "left-sidebar-link-6",
        "label": "Link 6",
        "default": "camphigh.com"
      },

         {
        "type": "text",
        "id": "left-sidebar-text-7",
        "label": "Heading",
        "default": "Welcome!"
      },

       {
        "type": "text",
        "id": "left-sidebar-link-7",
        "label": "Link 7",
        "default": "camphigh.com"
      },

       {
        "type": "text",
        "id": "left-sidebar-text-8",
        "label": "Heading",
        "default": "Welcome!"
      },

       {
        "type": "text",
        "id": "left-sidebar-link-8",
        "label": "Link 8",
        "default": "camphigh.com"
      },

       {
        "type": "text",
        "id": "left-sidebar-text-9",
        "label": "Heading",
        "default": "Welcome!"
      },

       {
        "type": "text",
        "id": "left-sidebar-link-9",
        "label": "Link 9",
        "default": "camphigh.com"
      },


       {
        "type": "text",
        "id": "left-sidebar-text-10",
        "label": "Heading",
        "default": "Welcome!"
      },

       {
        "type": "text",
        "id": "left-sidebar-link-10",
        "label": "Link 10",
        "default": "camphigh.com"
      },

       {
        "type": "text",
        "id": "left-sidebar-text-11",
        "label": "Heading",
        "default": "Welcome!"
      },

       {
        "type": "text",
        "id": "left-sidebar-link-11",
        "label": "Link 11",
        "default": "camphigh.com"
      },

       {
        "type": "text",
        "id": "left-sidebar-text-12",
        "label": "Heading",
        "default": "Welcome!"
      },

       {
        "type": "text",
        "id": "left-sidebar-link-12",
        "label": "Link 12",
        "default": "camphigh.com"
      },

       {
        "type": "text",
        "id": "left-sidebar-text-13",
        "label": "Heading",
        "default": "Welcome!"
      },

       {
        "type": "text",
        "id": "left-sidebar-link-13",
        "label": "Link 13",
        "default": "camphigh.com"
      },

      {
        "type": "text",
        "id": "left-sidebar-text-14",
        "label": "Heading",
        "default": "Welcome!"
      },

       {
        "type": "text",
        "id": "left-sidebar-link-14",
        "label": "Link 14",
        "default": "camphigh.com"
      },


      {
        "type": "text",
        "id": "left-sidebar-text-15",
        "label": "Heading",
        "default": "Welcome!"
      },

       {
        "type": "text",
        "id": "left-sidebar-link-15",
        "label": "Link 15",
        "default": "camphigh.com"
      },


      {
        "type": "text",
        "id": "left-sidebar-text-16",
        "label": "Heading",
        "default": "Welcome!"
      },

       {
        "type": "text",
        "id": "left-sidebar-link-16",
        "label": "Link 16",
        "default": "camphigh.com"
      },


      {
        "type": "text",
        "id": "left-sidebar-text-17",
        "label": "Heading",
        "default": "Welcome!"
      },

       {
        "type": "text",
        "id": "left-sidebar-link-17",
        "label": "Link 17",
        "default": "camphigh.com"
      },

      {
        "type": "text",
        "id": "left-sidebar-text-18",
        "label": "Heading",
        "default": "Welcome!"
      },

       {
        "type": "text",
        "id": "left-sidebar-link-18",
        "label": "Link 18",
        "default": "camphigh.com"
      }


      
    ],
    "presets": [
      {
        "name": "LeftBar",
        "category": "LeftBar"
      }
    ]
  }
{% endschema %}
