<div class="product-page" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">
{% include 'breadcrumbs' %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">
<div id="product-post">
<div class="product-post--images">
            {{ product.featured_image.src | img_url: '480x480' | img_tag: product.featured_image.alt }}

  
  </div>
<div class="product-post--copy">

  <h4>{{ product.title }}</h4>

      <div class="product-post--price" data-price-wrapper>
          {{ current_variant.price | money }}

        {% if product.compare_at_price_max > product.price %}
          <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
          <s data-compare-price>
            {% if current_variant.compare_at_price > current_variant.price %}
              {{ current_variant.compare_at_price | money }}
            {% endif %}
          </s>
        {% endif %}
      </div>

  

  <div class="rte">
    {{ product.description }}

    <h5> BE A FORCE OF NATURE </h5>
    <h6><a href="#ingredients" > Key Ingredients > </a></h6>
  </div>

<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="priceCurrency" content="{{ shop.currency }}">
    <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
    <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

    <form action="/cart/add" method="post" enctype="multipart/form-data">
      {% unless product.has_only_default_variant %}
        {% for option in product.options_with_values %}
          <div class="selector-wrapper js {{ option.name }}">
            <label for="SingleOptionSelector-{{ forloop.index0 }}">
              {{ option.name }}
            </label>

            <select
              id="SingleOptionSelector-{{ forloop.index0 }}"
              data-single-option-selector
              data-index="option{{ option.position }}">
              {% for value in option.values %}
                <option
                  value="{{ value | escape }}"
                  {% if option.selected_value == value %}selected="selected"{% endif %}>
                    {{ value }}
                </option>
              {% endfor %}
            </select>
          </div>
        {% endfor %}
      {% endunless %}

      <select name="id" class="no-js" data-product-select>
        {% for variant in product.variants %}
          <option
            {% if variant == current_variant %}selected="selected"{% endif %}
            {% unless variant.available %}disabled="disabled"{% endunless %}
            value="{{ variant.id }}">
              {{ variant.title }}
          </option>
        {% endfor %}
      </select>


      <button class="btn product-page"
        type="submit"
        name="add"
        data-add-to-cart
        {% unless current_variant.available %}disabled="disabled"{% endunless %}>
       Add to Cart
          
      </button>
    </form>

  </div>

  </div>

  </div>

    <div class="product-page--intro">
  <h3>Lorum Ipsum</h3>
  <p> {{ product.metafields['product']['mission'] }} </p>
  <img src=" {{ product.metafields['product']['intro_img'] }}" />
  <h3>Key Ingredients</h3>
  <p class="ingredient-intro"> {{ product.metafields['product']['ingredient_intro'] }} </p>
  
  <div class="ingredients" id="ingredients">
  <div class="ingredient-1">
  <p> {{ product.metafields['product']['ingredient-1'] }} </p>

  </div>

   <div class="ingredient-2">
  <p> {{ product.metafields['product']['ingredient-1'] }} </p>

  </div>

   <div class="ingredient-3">
  <p> {{ product.metafields['product']['ingredient-1'] }} </p>

  </div>



  </div>

  <img src=" {{ product.metafields['product']['ingredient-img'] }}" />

  </div>
  </div>

  <div class="scrollToTop">
     <form action="/cart/add" method="post" enctype="multipart/form-data">
      

      <select name="id" class="no-js" data-product-select="">
        
          <option selected="selected" value="15377528291421">
              Default Title
          </option>
        
      </select>


      <button class="btn product-page" type="submit" name="add" data-add-to-cart="">
       Add to Cart
          
      </button>
    </form>
    </div>


{% schema %}
  {
    "name": "Product pages",
    "settings": [
    {
      "id": "text-box",
      "type": "textarea",
      "label": "Heading",
      "default": "Title"
    },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
