<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.8/tiny-slider.css">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

<link rel="stylesheet" href="https://use.typekit.net/xlj4zce.css">


  <!-- <link rel="stylesheet" type="text/css" href="https://cdn.shopify.com/s/files/1/2140/7529/files/font_2a23c569-64b3-4e0d-b70f-c17bb1d7724a.css?16700169416591184029"> -->
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>

   {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

    <!--[if (gt IE 9)|!(IE)]><!-->
    <!-- <script src="http://ricostacruz.com/nprogress/nprogress.js" defer="defer"></script><!--<![endif]--> 

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if lt IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script> -->

  {{ content_for_header }}


</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
  {% if template contains 'index' %}
    <div id="loading">
          <!-- <img src="https://cdn.shopify.com/s/files/1/2140/7529/files/arrow.gif?8702977530642294641" class="pic"> -->

    </div>  
  {% endif %} 
  

  {% section 'header' %}


  <main role="main" class="main" id="MainContent">

    {{ content_for_layout }}
     {% if template contains 'index' %}
     <div class="insta-module">
       <h3>Be a Force of Nature</h3>
       <div class="insta-module--follow">
        <h5>Follow Along</h5>
        <h5 class="username">@koa</h5>
         
       </div>
<div id="instafeed">
  <img src="https://cdn.shopify.com/s/files/1/2140/7529/files/0f0013a22c1f46441cd4815528f9fc0f.jpg?10556269729629292311">

  <img src="https://cdn.shopify.com/s/files/1/2140/7529/files/00636900f53e2027ec312d9b3c4f6081.jpg?10556269729629292311">

  <img src="https://cdn.shopify.com/s/files/1/2140/7529/files/dc409fcef9c1f878ac99857e812133f9.jpg?10556269729629292311">

  <img src="https://cdn.shopify.com/s/files/1/2140/7529/files/TRU2213526.jpg?10556269729629292311">

  <img src="https://cdn.shopify.com/s/files/1/2140/7529/files/tumblr_ok63jo79Lo1qbx7fko1_1280.jpg?10556269729629292311">

</div>  
</div>
     {% endif %} 
  
  </main>

  {% section 'footer' %}
    {% if template contains 'index' %}
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us16.list-manage.com","uuid":"f439509fc5f71ea75c2afcec9","lid":"d0729e8ee1","uniqueMethods":true}) })</script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.0/min/tiny-slider.js"></script>

<!-- <script type="text/javascript">
    var userFeed = new Instafeed({
  get: 'user',
  userId: '6281230240',
  clientId: '924f677fa3854436947ab4372ffa688d',
  accessToken: '6281230240.1677ed0.6d1fc0e0758d4fe99c77568ca5c9f16d',
  resolution: 'standard_resolution',
  sortBy: 'most-recent',
  limit: 5,
  links: false
});
userFeed.run();


</script> -->

<script>
  var slider = tns({
    container: '.my-slider',
    items: 1,
    loop: true,
    swipeAngle:false,
    autoWidth:false,
    edgePadding: 20,
    gutter: 20,
    autoHeight:true,
    nav:true,
    controls:false,
    navPosition: "bottom",
    mouseDrag:true, 
    responsive: {
      640: {
        edgePadding: 20,
        gutter: 20,
      },
      700: {
        gutter: 30
      },
      900: {
        items: 3
      }
    }
    
  });
</script>


    {% endif %} 


{% include 'cart-drawer' %}
<!--  <script src="{{ 'instantclick.min.js' | asset_url }}" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script> -->

</body>
</html>
